/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 html,
 body {
 	font-family: sans-serif;
 	background-color: rgb(244,252,255);
 	color: #4c4c4c;
 }
 .field_with_errors {
  	display: flex;
  	flex-flow: column nowrap;
 }
 .modal {
 	box-sizing: border-box;
 	padding: 40px;
 	margin: 0 auto;
 	margin-top: 150px;
 	background-color: dodgerblue;
 	width: 100%;
 	max-width: 600px;
 	color: white;

 	display: flex;
 	flex-flow: column nowrap;
 }
 .modal form {
 	display: flex;
 	flex-flow: column nowrap;	
 }
 .modal_title {
	text-align: center;
	color: white;
	margin: 0 0 10px 0;
 }
 .modal_field {
 	color: #4c4c4c;
 	line-height: 1.5;
	font-size: 16px;

 	padding: 10px;
 	background-color: white;
 	outline: 0;
 	border: 3px solid transparent;
 	margin-bottom: 10px;
 }
 .modal_field:focus {
 	border-color: #3FC6FF;
 }
 .modal_submit {
 	padding: 10px;
 	outline: 0;
 	border: 0;
 	background-color: #164BA9;
 	color: white;
 	line-height: 1.5;
	font-size: 16px;
	margin-bottom: 10px;
 }
 .modal_link {
 	text-decoration: none;
 	color: rgba(255,255,255,0.85);
 	text-align: center;
 	
 }
 .modal_link:hover {
 	color: white;
 }

 .navigation {
 	display: block;
 	width: 100%;
 	text-align: center;
 	position: relative;
 }
 .navigation_title {
	text-decoration: none;
	font-size: 30px;
	font-weight: bold;
	color: #4c4c4c;
 }
 .navigation_title:visited,
 .navigation_title:active,
 .navigation_title:focus {
 	color: #4c4c4c;	
 }
 .navigation_title:hover {
 	color: #6c6c6c;
 }
 .navigation_user {
	position: absolute;
	right: 0;
	top: 10px;
 }
 .citations {
 	display: block;
 	max-width: 800px;
 	width: 100%;
	margin: 0 auto;
	margin-top: 100px;
	background-color: white;
	padding: 20px 30px 40px 30px;
	box-sizing: border-box;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1)
 }
 .citations_titlearea {
	display: flex;
	flex-flow: row nowrap;	
	justify-content: space-between;
	align-items: center;
 }
 .citations_title {
	padding: 0 0 0 20px;
 }
 .citations_buttonarea {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-right: 20px;
 }
 .citations_button {
	background-color: dodgerblue;
	color: white;
	border: none;
	padding: 10px 15px;
	text-decoration: none;
 }
 .citations_area {
 	display: flex;
 	width: 100%;
 	flex-flow: column nowrap;
 }
 .citation {
	display: flex;
	justify-content: space-between;
	flex-flow: row nowrap;
	box-sizing: border-box;
	padding: 20px;
	background-color: #eee;
	margin-bottom: 20px;
 }
 .citation:last-child {
 	margin-bottom: 0;
 }
 .citation_title {
 	margin: 0;
 	padding: 0;
 	font-size: 24px;
 }
 .citation_link {
 	font-style: italic;
 	color: #8c8c8c;
 	font-size: 14px;
 }
 .citation_note {
 	margin: 0;
 	padding: 0;
 	color: #6c6c6c;
 }
 .citation_modify {
 	display: flex;
 	flex-flow: column nowrap;
 }

 .citation_edit,
 .citation_delete {
 	padding: 5px;
	text-decoration: none;
	box-sizing: border-box;
	color: white;
	text-align: center;
	font-size: 14px;
 }

 .citation_edit {
 	background-color: #dc4853;
 	margin-bottom: 5px;
 }
 .citation_edit:hover {
 	background-color: #BA2931;
 }
 .citation_delete {
 	background-color: #398ECD;
 }
 .citation_delete:hover {
	background-color: #227BBC;
 }